node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# VSCode
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
#
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store

# Jest
#
# https://docs.expo.io/guides/testing-with-jest/#code-coverage-reports
coverage/**/*

# react-native-dotenv
#
# https://github.com/zetachang/react-native-dotenv
.env*
!.env.template
